.login-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

input[type] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid #c4c4c4;
    background-color: white;
    color: var(--gray-800);
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-top: 24px;
}

button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

button.outline {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
}

.error-message {
    margin-top: 2px;
    font-size: 12px;
    color: var(--danger);
    text-align: left;
}

.form-container {
    text-align: center;
}

.form-container form {
    width: 100%;
}

.create-acc-link {  
    color: #404040;
    font-size: 14px;
    margin-top: 36px;
    cursor: pointer;
}

.create-acc-link:hover {
    text-decoration: underline;
}
